[submodule "SynoraEngine/3rdparty/glfw"]
	path = SynoraEngine/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SynoraEngine/3rdparty/spdlog"]
	path = SynoraEngine/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SynoraEngine/3rdparty/entt"]
	path = SynoraEngine/3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "SynoraEngine/3rdparty/miniaudio"]
	path = SynoraEngine/3rdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "SynoraEngine/3rdparty/JoltPhysics"]
	path = SynoraEngine/3rdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "SynoraEngine/3rdparty/glm"]
	path = SynoraEngine/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "SynoraEngine/3rdparty/VulkanMemoryAllocator"]
	path = SynoraEngine/3rdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "SynoraEngine/3rdparty/stb"]
	path = SynoraEngine/3rdparty/stb
	url = https://github.com/nothings/stb
[submodule "SynoraEngine/3rdparty/assimp"]
	path = SynoraEngine/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "SynoraEngine/3rdparty/imgui"]
	path = SynoraEngine/3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "SynoraEngine/3rdparty/tracy"]
	path = SynoraEngine/3rdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "SynoraEngine/3rdparty/ImGuizmo"]
	path = SynoraEngine/3rdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
